@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-action="privacy">Click here to view an auth protected page</a>.</p>
    <p>You are viewing this page at @(Context.Request.Scheme + "://" + Context.Request.Host)</p>
</div>
